body {
    font-family: "Poppins", sans-serif;
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 0;
    margin: 0;
    min-height: 100vh;
}

.nav_bar_container{
    display: flex;
    justify-content: space-between;
}

.links_container{
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
}

.form_container{
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
}

.hero_section_container{
    display: flex;
    justify-content: space-between;
}

.hero_section_left_container{
    flex: 2;
}

.hero_section_right_container{
    flex: 1;
}

.hero_section_right_container img{
    width: 540px;
}