body {
    font-family: "Roboto", sans-serif;
    background: rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    padding: 0;
    margin: 0;
    min-height: 100vh;
}

.container_divider{
    display: flex;
    min-height: 100vh;
}

.left_container{
    background: black;
    color: white;
    flex: 1;

    display: flex;
    justify-content: center;
}

.left_content{
    width: 80%;
    max-width: 700px;
    margin-top: 40px;
}

.left_heading{
    margin-top: 5%;
    padding: 0;
}

.left_heading h3{
    font-weight: 600;
    margin: 0;
    padding: 15px 0px;
}

.left_heading h1{
    font-weight: 300;
    font-size: 36px;
    margin: 0;
    padding: 20px 0px;
    line-height: 1.1;
}

.info_container{
    margin-bottom: 80px;
}

.tag_container{
    display: flex;
    align-items: center;
    gap: 2%;

    font-size: 14px;
    font-weight: 400;

    padding: 1% 0%;
}

.testimonial_container{
    font-size: small;
    font-weight: 400;
    
    color: #ffffff75;
}

.testimonial_row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 0;
}

.testimonial_row img{
    width: 68px;
    height: auto;
}

.stars_container{
    display: flex;
    gap: 15px;
    font-size: 14px;
    align-items: center;
}

.stars{
    display: flex;
    gap: 4px;
}

.stars i{
    color: #ffffff;
    font-size: 16px;
    line-height: 1;
}

.right_container{
    background-color: white;
    color: black;
    flex: 1;

    display: flex;
    justify-content: center;
    align-items: center;
}

.form_container{
    width: 80%;
    max-width: 700px;
}

.heading{
    margin-bottom: 30px;
}

.right_heading{
    margin-bottom: 30px;
    color: #9a9a9a;
    margin: 0px;
    padding: 0;
    font-size: small;
}

.right_heading h1{
    font-weight: 400;
    font-size: 28px;
    color: black;
    margin: 5px 0px;
    padding: 0px;
}

.input_container{
    font-size: 14px;
    padding: 5px 0px;
    font-weight: 500;
}

.input_container p{
    margin: 0;
    padding:0;
}

.input_container input{
    width: 100%;
    height: 32px;

    border-style: solid;
    border-radius: 8px;
    border-width: 0.25px;
    border-color: rgb(175, 175, 175);
    margin-top: 10px;
    margin-bottom: 30px;
}

.next_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight:500;
}

.next_container button{
    background-color: black;
    color: white;
    padding: 5px 20px;
    border-style: none;
    border-radius: 50px;
}

.flow_container{
    display: flex;
    gap: 10px;
}

.flow_container div{
    background-color: black;
    width: 65px;
    height: 5px;
    border-radius: 50px;
}